@import "../../variable.scss";

.form-container {
  .restaruant-form {
    .restaruant-form-input {
      width: 100%;
      margin-bottom: 15px;
    }

    mat-label {
      font-size: 12px;
      text-transform: capitalize;
      color: #000;
    }

    input, textArea {
      font-size: 12px;
    }

    input::placeholder,
    textArea::placeholder {
      font-size: 12px;
    }
  }
}
