@import "../../variable.scss";

.restaurant-container {
  .nav {
    .resturant-title {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 800;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.8px;
      font-family: cursive;
    }

    .resturant-info {
      font-family: cursive;
      font-size: 20px;
    }

    .info-line {
      width: 50px;
      border: 2px solid #ffaa76;
      border-radius: 10px;
    }

    .restaurent-bg {
      border-radius: 20px;
      border: 1px;
      height: calc(65vw);
      width: 100%;
      overflow: hidden;
      max-height: 300px;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .restaurant-info-card {
        position: absolute;
        left: 3px;
        height: 80%;
        top: 3px;
        padding: 32px 20px 20px 32px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(2, 6, 12, 0.15);
        border-radius: 20px;
        margin-bottom: 20px;
        max-width: 540px;

        .restaruant-info-card-header {
          font-family: cursive;
          .rating {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: cursive;
            p {
              margin-bottom: 0;
            }
          }

          .location-info {
            margin-top: 10px;
            font-weight: bold;
          }

          .open-staus-container {
            .open-status {
              font-weight: bold;
              color: #09a76d;
              margin-right: 5px;
            }
          }
          .description {
            margin-bottom: 10px;
            display: flex;
            font-weight: bold;

            .mat-icon {
              color: $appThemecolor;
              margin-right: 5px;
            }
          }
        }

        .restaruant-info-card-footer {
          .footer-info {
            display: flex;
            font-family: cursive;
            font-size: 14px;
            font-weight: bold;
            .mat-icon {
              color: $appThemecolor;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .restaurant-container {
    .restaurent-bg {
      overflow: unset !important;
    }

    .restaurant-info-card {
      position: absolute !important;
      top: 80% !important;
      right: 20px !important;
      left: 20px !important;
    }

    .restaurant-info-card {
      height: 100% !important;
    }
  }
}
